

/*--------------aplica para el index--------------------*/ 
.grid-container {
    display: grid;
    grid-template-areas: 
    "logo nombre"
    "logo matricula"
    "nav foto"
    "nav presentacion"
    "pie pie";
    grid-template-rows: 120px 60px 1fr 1fr 75px; 
    grid-template-columns: 200px 1fr;
    /*border: 2px solid black;*/

    grid-column-gap: 0px;
    grid-row-gap: 0px;
   
    height: 100vh;
    margin: 0;
    

    }
    @media(max-width: 575px){
        .grid-container{
            grid-template-areas: 
            "logo"
            "nombre"
            "matricula" 
            "nav" 
            "foto"
            "presentacion"
            "pie";
            grid-template-rows: 120px 60px 1fr 1fr 1fr 1fr 75px; 
            grid-template-columns:100%;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
    
            margin-left: 0px;
            margin-right: 0px;
            }
        
    }
    #foto{
        grid-area: foto;
        text-align: center;
        padding: 0px;
        margin: 0px;
        border: $estilo_bordes;
        


        @media(max-width: 600px){
            #foto{
                @include sizes(100%, 100%);
            }
        }
               
        .h1-sobre-mi{
            text-align: center;
            font-family: $tahoma;
            color: black;

            animation-name: efecto-1;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-delay: 2s;

        }
        
        .foto-cintia{
            @include sizes(390px, 652.8px);

        }
            
        @media(max-width: 600px){
            .foto-cintia{
                @include sizes(260px, 435.2px); 
            }
        }
        
        .p-soy {
            @include estilo_p;
            /*text-align: justify;
            margin-left: 30px;
            margin-right: 30px;
            font-family:$tahoma;
            font-size: 130%;*/
        }

        #presentacion{
            grid-area: presentacion;
            text-align:center;
            font-family: $tahoma;
        
            .lista-formacion{
                @include estilo_p;
                /*
                text-align: left;
                margin-left:30px;
                margin-right: 30px;
                font-size: 20px;*/
            }
            
        }
        
    }   

